:root {
  /* Definição de cores personalizadas */
  --slightly-desaturated-cyan: #5fb4a2;
  --dark-blue: #203a4c;
  --grayish-dark-blue: #33323d;
  --very-light-grey: #fafafa;
  --light-grey: #eaeaeb;
}

* {
  /* Reseta as margens e preenchimentos */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Definição da fonte padrão para o documento HTML */
  font-family: "Ibarra Real Nova", "Public Sans", sans-serif;
}

.container {
  /* Estilização do container principal */
  padding: 16px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  /* Estilização de links */
  text-decoration: none;
  color: var(--dark-blue);
}

.menu-items {
  /* Remove a estilização padrão de lista */
  list-style: none;
}

.nav-bar {
  /* Estilização da barra de navegação */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.nav-bar ul {
  /* Estilização da lista de itens de navegação */
  display: flex;
  gap: 30px;
}

.nav-bar a:hover {
  /* Estilização do hover nos links de navegação */
  color: var(--slightly-desaturated-cyan);
}

.container .home-page {
  /* Estilização da seção da página inicial */
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url(/assets/home/image-homepage-hero.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  display: flex;
  align-items: flex-end;
}

.home-page-text {
  /* Estilização do texto da página inicial */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 445px;
  height: 357px;
  background: var(--light-grey);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.about-button {
  /* Estilização do botão "Sobre" */
  display: flex;
  align-items: center;
  margin-top: 36px;
  width: 200px;
  height: 48px;
  background: var(--dark-blue);
  color: var(--very-light-grey);
  gap: 10px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.about-button img {
  /* Estilização da imagem dentro do botão "Sobre" */
  width: 20px;
  height: 20px;
}

.about-button:hover {
  /* Estilização do hover no botão "Sobre" */
  background: var(--slightly-desaturated-cyan);
}

.about {
  /* Estilização da seção "Sobre" */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  padding-top: 60px;
}

.about img {
  /* Estilização da imagem na seção "Sobre" */
  width: 540px;
  height: auto;
}

.about div {
  /* Estilização do conteúdo de texto na seção "Sobre" */
  max-width: 500px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--grayish-dark-blue);
}

.about-text {
  /* Estilização do texto justificado na seção "Sobre" */
  text-align: justify;
}

.container-button {
  /* Estilização do contêiner de botões */
  width: 250px;
  margin-top: 24px;
}

.button {
  /* Estilização dos botões */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 48px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: var(--very-light-grey);
  color: var(--grayish-dark-blue);
  border: 1px solid var(--grayish-dark-blue);
  cursor: pointer;
}

.button:hover {
  /* Estilização do hover nos botões */
  background: var(--grayish-dark-blue);
  color: var(--light-grey);
}

.contact {
  /* Estilização da seção de contato */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 350px;
  margin-top: 60px;
  padding-top: 60px;
}

.contact h2 {
  /* Estilização do título na seção de contato */
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  max-width: 450px;
}

footer {
  /* Estilização do rodapé */
  background: var(--grayish-dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

footer a {
  /* Estilização dos links no rodapé */
  color: var(--very-light-grey);
}

footer ul {
  /* Estilização da lista no rodapé */
  display: flex;
  gap: 10px;
}

.icons {
  /* Estilização dos ícones de mídia social */
  display: flex;
  gap: 15px;
}

.nav-button {
  /* Estilização dos botões de navegação */
  width: 650px;
  display: flex;
  gap: 35px;
}

.container-footer {
  /* Estilização do contêiner do rodapé */
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.project img {
  /* Estilização das imagens dos projetos */
  width: 100%;
  height: auto;
}

.project-text {
  /* Estilização do texto dos projetos */
  width: 350px;
  text-align: justify;
  padding: 35px;
}

.project-text h2 {
  /* Estilização do título do projeto */
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 15px;
}

.project-text p {
  /* Estilização dos parágrafos do projeto */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 50px;
}

.preview p {
  /* Estilização dos parágrafos na pré-visualização */
  margin-bottom: 15px;
  text-align: justify;
}

.preview {
  /* Estilização da pré-visualização */
  display: flex;
  justify-content: space-between;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  margin-top: 60px;
}

.preview h1 {
  /* Estilização do título principal na pré-visualização */
  margin-bottom: 15px;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  color: var(--grayish-dark-blue);
}

.preview h2 {
  /* Estilização do subtitulo na pré-visualização */
  margin-bottom: 15px;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
}

.preview-image {
  /* Estilização da imagem na pré-visualização */
  width: 635px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.preview-container-left {
  /* Estilização do contêiner da esquerda na pré-visualização */
  width: 350px;
}

.preview-container-left .p-green {
  /* Estilização do texto verde na pré-visualização */
  color: var(--slightly-desaturated-cyan);
}

.preview-container-right {
  /* Estilização do contêiner da direita na pré-visualização */
  width: 635px;
}

.project-navigation {
  /* Estilização da navegação dos projetos */
  display: flex;
  justify-content: space-between;
}

.project-navigation-left {
  /* Estilização da navegação para a esquerda nos projetos */
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-navigation-right {
  /* Estilização da navegação para a direita nos projetos */
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.project-navigation img,
.project-navigation img {
  /* Estilização das imagens de navegação dos projetos */
  margin: 15px;
}
